<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>users page</title>
</head>
<body>
    <div class="container">
        <h2 class="login">Login & Registration</h2>
        <div class="form-login">
            Username
            <input type="text" name="username" placeholder="enter your username" >
            Password
            <input type="password" name="password" placeholder="enter your password">
            <button type="submit">Go!</button>

        </div>
    </div>
</body>
</html>